{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card p-4 shadow">

<h2>📍 Delivery Address</h2>

<form method="POST">

    {% csrf_token %}

    <input type="text"
           name="name"
           class="form-control mb-3"
           placeholder="Full Name"
           required>

    <input type="text"
           name="phone"
           class="form-control mb-3"
           placeholder="Mobile Number"
           required>

    <textarea name="address"
              class="form-control mb-3"
              placeholder="Full Address"
              required></textarea>

    <input type="text"
           name="pincode"
           class="form-control mb-3"
           placeholder="Pincode"
           required>

    <button class="btn btn-success">
        Continue To Payment
    </button>

</form>

</div>

</div>

{% endblock %}